/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wcv_contents {
    width: 75%;
}
.woocv_edittop {
    display: flex;
    align-items: baseline;
    gap: 20px;
}
 .select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow{
    padding: 5px;
 }
.select2-container .select2-selection--single{
     height: unset;
     border-color: #4caf50 !important;
}
.wcv_input input, .wcv_input select, .wcv_title__input input {
    padding: 5px 14px;
    border-color: #4caf50 !important;
}
.wcv_input input:focus, .wcv_title__input input:focus, .wcv_input select:focus, .select2-container--open .select2-selection.select2-selection--single, .select2-container--focus .select2-selection.select2-selection--single {
    border-color: #4caf50 !important;
    outline-color: transparent;
    box-shadow: unset;
}
span.select2-selection.select2-selection--multiple {
    border-color: #4caf50 !important;
    outline-color: transparent;
    box-shadow: unset;
    padding: 7px;
}

input#wcv_title {
    width: 100%;
}

.wcv_input h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    color: #484848;
}
.wcv_title__input {
    margin-bottom: 50px;
}
.wcv_input, #variationFields {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #d7d7d7;
}
.woocv_inputData .wp-picker-container.wp-picker-active {
    width: 75%;
}
div#variationFields h3 {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: #484848;
}
.prduct_selection {
    display: flex;
    gap: 20px;
}
.wcv_input select#wcv_product_selection, select#variation_product_category {
    padding-right: 28px;
    min-width: 20%;
    height: fit-content;
}
.products_list{
    width: 80%;
}
.select2-container {
    width: 100% !important;
}
div#variationFields h3 {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0 !important;
    margin-bottom: 0px !important;
}
div#variationFields h3.fieldsheading{
    padding-bottom: 10px !important;
}
.wcv_filed {
    border: 1px solid #4caf50;
    margin-bottom: 12px;
}
.wcv_filed .fieldHead {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    background: #4caf50;
    cursor: move;
}
.collapsable_btn, .closefieldbtn, .closefieldItembtn {
    width: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}
.closefieldbtn i{
    border: 1px solid #fb171799;
    border-radius: 50%;
}
.field_action, .fitemActions {
    display: flex;
    align-items: center;
    gap: 5px;
}
.wcv_filed .fieldHead h4 {
    margin: 0;
}
.fieldData{
    padding: 10px;
}
.wcv_filed.datanone .fieldData {
    display: none;
}
.woocv_filed_item.datanone .item_contents {
    display: none;
}
.add_field_btn, .add_item_btn{
    background: #4caf50;
    color: #fff;
    border-color: #4caf50;
    outline: none;
    cursor: pointer;
}
button.add_field_btn {
    margin-top: 10px;
}

.f__data {
    border: 1px solid #ddd;
    background: #f0f0f1;
}

li.woocv_filed_item .item_contents {
    padding: 10px;
}
li.woocv_filed_item .field_item_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    user-select: none;
    cursor: move;
    padding: 10px;
}
li.woocv_filed_item .field_item_head h3 {
    border: none !important;
    margin: 0 !important;
}
.item_contents .item_row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.item_contents .item_row .item_data {
    width: 100%;
}

input#inputColorshow {
    margin-bottom: 10px;
}
.item_contents .item_row .item_data .woocv_inputData input.item_value{
    margin-bottom: 10px;
    width: 100%;
}
.item_contents .item_row .item_data .woocv_inputData textarea{
    width: 100%;
    height: 200px;
    resize: vertical;
}
.woocv_inputData.datanone {
    display: none !important;
}
.sortable-placeholder {
    min-height: 41px;
    border: 1px dashed rgb(255, 80, 80);
    margin-bottom: 10px !important;
}
.sortable-placeholder2 {
    min-height: 39px;
    border: 1px dashed rgb(255, 80, 80);
    margin-bottom: 10px !important;
}
.fieldData {
    padding: 10px;
    background: #f0f6fc !important;
}
.__file_title input {
    width: 100%;
}
.nofield {
    padding: 8px 10px;
    border-left: 3px solid red;
    background: #ff00000d;
}
.woocv_enable {
    margin-bottom: 50px;
}
.woocv_enable .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .woocv_enable .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .woocv_enable  .woocv_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .woocv_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .woocv_slider {
    background-color: #4caf50;
  }
  input:focus + .woocv_slider {
    box-shadow: 0 0 1px #4caf50;
  }
  input:checked + .woocv_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .woocv_slider.round {
    border-radius: 34px;
  }
  .woocv_slider.round:before {
    border-radius: 50%;
  }

  div#lr-loader-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    background-color: #bbbbbb2b;
    z-index: 9999;
}
.available_colors {
    padding: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}
.available_colors p.availablecolor_heading {
    margin: 0;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.available_colors .woocv_colors {
    padding: 10px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.woocv_colors div.woocv_color {
    padding: 12px 20px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid green;
    position: relative;
}

.colorSelectionBox {
    display: flex;
    gap: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 5px;
}
button.colorAddbtn {
    cursor: pointer;
}
span.woocv_color_remove {
    position: absolute;
    font-size: 18px;
    line-height: 18px;
    right: -10px;
    top: -9px;
    color: darkred;
    cursor: pointer;
    user-select: none;
    opacity: 0;
}
.woocv_colors div.woocv_color:hover .woocv_color_remove {
    opacity: 1;
    transition: .3s;
}